* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

$darkgreen: #00312E;
$rosebackground: #FDC5C6;

body {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;

    .previous {
        padding: 10px;
        font-weight: 500;
        cursor: pointer;
    }

    .forgotPass {
        padding: 10px 0;
        cursor: pointer;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;

    }


    .homeScreen {
        display: flex;
        // display: none;
        align-items: center;
        height: 80vh;
        border-radius: 10px;
        box-shadow: 2px 3px 5px 5px#68676771;


        .welcome {
            // border: 1px solid red;
            height: 100%;
            text-align: center;
            background-color: $darkgreen;
            color: #FFF;
            padding: 20px;
            border-radius: 10px 0 0 10px;


            h1 {
                font-size: 2em;
                padding: 60px 0;
            }

            p {
                padding: 10px 0 60px 0;
            }

            .slogan {
                margin-bottom: 30px;
                font-style: italic;
            }

            #btnToEnter {
                padding: 10px 30px;
                width: 80%;
                border-radius: 30px;
                font-weight: 700;
                color: #FFF;
                border: 2px solid #FFF;
                background-color: $darkgreen;
                cursor: pointer;

            }

            .forgotPass {
                padding: 10px 0;
                cursor: pointer;
            }
        }

        #formRegister {
            // border: 3px solid red;
            padding: 20px;
            width: 40vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 0 10px 10px 0;
            ;

            h2 {
                font-size: 2em;
                padding: 10px;
            }

            p {
                margin: 0 0 20px 0;
            }

            .inputGroup {
                display: flex;
                align-items: center;
                height: 40px;
                width: 80%;
                padding: 10px;
                border-radius: 5px;
                background-color: #b4b4b4;
                margin: 5px;

                img {
                    width: 20px;
                    height: 20px;
                    opacity: .7;
                }

                input {
                    background-color: #b4b4b4;
                    width: 100%;

                    padding-left: 5px;
                    border: none;
                    outline: none;
                }

            }

            #btnRegister {
                margin-top: 10px;
                width: 80%;
                padding: 15px 30px;
                border-radius: 5px;
                font-weight: 600;
                background-color: $darkgreen;
                color: #FFF;
                align-self: center;
                cursor: pointer;
                outline: none;
            }
        }
    }

    #formForgotPass {
        // border: 3px solid red;
        padding: 20px;
        width: 40vw;
        height: 100%;
        // display: flex;
        display: none;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0 10px 10px 0;


        h2 {
            font-size: 2em;
            padding: 10px;
        }

        p {
            margin: 0 0 20px 0;
        }

        .inputGroup {
            display: flex;
            align-items: center;
            height: 40px;
            width: 80%;
            padding: 10px;
            border-radius: 5px;
            background-color: #b4b4b4;
            margin: 5px;

            img {
                width: 20px;
                height: 20px;
                opacity: .7;
            }

            input {
                background-color: #b4b4b4;
                width: 100%;

                padding-left: 5px;
                border: none;
                outline: none;
            }

        }

        #btnRecoverPassword {
            margin-top: 10px;
            width: 80%;
            padding: 15px 30px;
            border-radius: 5px;
            font-weight: 600;
            background-color: $darkgreen;
            color: #FFF;
            align-self: center;
            cursor: pointer;
            outline: none;
        }
    }

    #formLogin {
        // border: 3px solid red;
        padding: 20px;
        width: 40vw;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0 10px 10px 0;
        ;

        h2 {
            font-size: 2em;
            padding: 10px;
        }

        p {
            margin: 0 0 20px 0;
        }

        .inputGroup {
            display: flex;
            align-items: center;
            height: 40px;
            width: 80%;
            padding: 10px;
            border-radius: 5px;
            background-color: #b4b4b4;
            margin: 5px;

            img {
                width: 20px;
                height: 20px;
                opacity: .7;
            }

            input {
                background-color: #b4b4b4;
                width: 100%;

                padding-left: 5px;
                border: none;
                outline: none;
            }

        }

        #btnLogin {
            margin-top: 10px;
            width: 80%;
            padding: 15px 30px;
            border-radius: 5px;
            font-weight: 600;
            background-color: $darkgreen;
            color: #FFF;
            align-self: center;
            cursor: pointer;
            outline: none;
        }
    }

    // Estilo base para a tabela
    #patientControl {
        display: flex;

        .accordion {
            overflow: hidden;

            .accordion-item {
                overflow: hidden;
                display: flex;
                flex-direction: column;

                .frontContainer {
                    display: flex;
                    gap: 10px;

                    img {
                        // Estilos para a imagem
                    }

                    .nameContainer {
                        // Estilos para o nome
                    }

                    .phoneContainer {
                        // Estilos para o telefone
                    }

                    .dentistContainer {
                        // Estilos para o dentista
                    }

                    .dateConsultContainer {
                        // Estilos para a data da consulta
                    }

                    .actions {
                        display: flex;

                        .iconActions {
                            width: 20px;
                            height: 20px;

                            .viewIcon {
                                // Estilos para o ícone de visualização
                            }

                            .editIcon {
                                // Estilos para o ícone de edição
                            }

                            .deleteIcon {
                                // Estilos para o ícone de exclusão
                            }
                        }
                    }
                }

                .item-input {
                    display: none;

                    &:checked~.item-content {
                        max-height: 100vh;
                        padding: 16px;
                    }
                }

                .item-label {
                    // Estilos para a etiqueta do item
                }

                .item-content {
                    transition: all 0.3s ease-in-out;
                    max-height: 0;
                    padding: 0 16px;

                    // Estilos para o conteúdo do item
                }
            }
        }





    }


}