.formRecoverContainer {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../../../../public/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 20px;

    form {
        width: 40%;
        display: flex;
        flex-direction: column;
        // gap: 10px;
        padding: 20px;
        color: #FFF;
        // border: 1px solid yellow;
    }
}